#contact_modal {
    display: none;
}

#contact_modal .modal_close{
}

#lightbox_modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;    
    background-color: #fafafa86;
    height: 100%;
}

#lightbox_modal .wrapper{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}


#lightbox_modal .wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lightbox_modal i{
    color: #901C1C;
    font-size: 4em;
}


#lightbox_modal .modal_close{
    position: absolute;
    top: 0;
    stroke: #901C1C;
    fill: #901C1C;
    /*temporaire*/
    background-color: #312E2E;
}

.lightbox_img{
    object-fit: contain;
    max-height: 90vh;
}

main{
    margin-right: 100px;
    margin-left: 100px;
}

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin-bottom: 1em;
}

.photograph_header div{    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.photograph_header .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.photograph_header .info h2{
    color: #D3573C;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
}

.photograph_header .info .location{
    color: #901C1C;
    font-size: 24px;
}

.photograph_header .info .tagline{
    font-size: 18px;
}

.photograph_header img{ 
    border-radius: 100%;
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.photograph_content .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery article{
    width: 30em;
    display: flex;
    flex-direction: column;
}

.gallery .content{
    object-fit:cover;
    width: 100%;
    height: 30em;
    border-radius: 0.7em;
}
.gallery .description{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    color: #901C1C;
    font-size: 24px;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.description h3{
    margin-top: 0;
    margin-bottom: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.sorting{
    margin-bottom: 1em;
    font-size: 18px;
    display: flex;
}

.dropdown, .dropdown-open{
    position: relative;
    margin-left: 1em;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    width: 10em;
    background-color: #901C1C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.dropdown a, .dropdown .fa-angle-up {
    display: none;
}

.dropdown a{
    margin-left: 1em;
    margin-top: 1em;  
    margin-bottom: 1em;
}

.dropdown i{
    position: absolute;
    right: 1em;
    top: 1.2em;
}

.dropdown .selected{
    display: block;
}

.dropdown-open a, .dropdown-open .fa-angle-up {
    display: block;
}
.dropdown-open .fa-angle-down {
    display: none;
}

.dropdown-open .selected{
    order: 1;
}



.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   top:0;
    padding: 35px; 
    position: absolute;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}